.flowerTable{
    background-image: url("https://media.istockphoto.com/id/1318440921/photo/abstract-beautiful-tropical-green-foliage-focuses-only-on-the-leaf-edges-and-dumb-curves.jpg?b=1&s=170667a&w=0&k=20&c=L-iXhNrWcLApECl51zg4t2AcxBRcZRvxjVi3BcwbPTk=");
}

.P2C{
background-color: aqua; border-color: black;
}
.P2CForm{
    background-color: chartreuse;
}
.label{
    background-color: chocolate;
}

a:hover {
    background-color: gold;

  }