<p>empn component works!</p>

<label><h3></h3>Find employee no.:</label> <input type="text" id="eid" name="eid" [(ngModel)]="eid" placeholder="Please enter employee id here.">
<p>Employee number you entered is:{{eid}}</p>

<div *ngFor="let employee of employees">
    <div *ngIf="employee.empId==eid">
<button type="button" class="btn btn-success" (click)="display()">Display {{employee.empName}} data</button>
<div  class="table table-striped table-dark"  *ngIf="isSubmitted==true">Data as below:
   <table  > 
    <tr><td>Employee ID:</td><td><strong>{{employee.empId}}</strong></td></tr>
    <tr><td>Employee Name:</td><td><strong>{{employee.empName}}</strong></td></tr>
    <tr><td>Salary:</td><td><strong>{{employee.salary}}</strong></td></tr>
    <tr><td>Department:</td><td><strong>{{employee.dept}}</strong></td></tr>
    <tr><td>Designation:</td><td><strong>{{employee.designation}}</strong></td></tr>


</table>
</div>
</div>
</div>